<section id="contact">
  <div class="inner">
    <section>
      <form method="post" action="./assets/php/smtp-contacto.php">
        <div class="fields">
          <div class="field half">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>

  <div class="field half">
    <label for="empresa">Empresa</label>
    <input type="text" name="empresa" id="empresa" />
    </div>
    <div class="field half">
    <label for="telefono">Teléfono</label>
    <input type="text" name="telefono" id="telefono" />
    </div>

          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
          </div>

  <div class="field" id="spam_container">
    <label for="captcha">ENTER CAPTCHA: 2 + 2 = ?</label>
    <input type="text" name="spam" id="spam" placeholder="ENTER Captcha:       2+2 = ?"/>
  </div>
        </div>
        <ul class="actions">
          <li>
            <input type="submit" value="Send Message" class="primary" />
          </li>
          <li><input type="reset" value="Clear" /></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#115;&#111;&#108;&#105;&#115;&#116;&#111;&#112;&#111;&#103;&#114;&#97;&#102;&#105;&#97;&#46;&#99;&#111;&#109">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#111;&#64;&#115;&#111;&#108;&#105;&#115;&#116;&#111;&#112;&#111;&#103;&#114;&#97;&#102;&#105;&#97;&#46;&#99;&#111;&#109;</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-phone"></span>
          <h3>Teléfono</h3>
          <a href="tel:+34687950362"> 687 95 03 62 </a>
        </div>
      </section>

<section>
  <div class="contact-method">
    <span class="whatsapp-icon icon"><img src="./images/whatsapp-iconcom.svg" alt=""></span>
    <h3><a href="https://api.whatsapp.com/send?phone=34620257031&text=Hola,%20estoy%20buscando%20un%20topografo%20para%20"rel="nofollow noopener noreferrer"target="_blank">Escribe un WhatsApp</a></h3>
  </div>
  </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-home"></span>
          <h3>Address</h3>
          <span class="address"> Carrer d'Antoni Marqués, 10, 2ºc<br>
    07003 Palma,<br>
     Illes Balears</span>
     <br>
     <a href="https://g.page/solis-topografia?gm" target="blank" rel="nofollow">Google my Business</a>
        </div>
      </section>
    </section>
  </div>
</section>