<!-- Header -->
<header id="header" class="alt">
  <a href="index.php" class="logo">
    <img src="./images/logo.png" alt="" />
    <strong>Solis</strong>
    <span>Topografia</span>
  </a>
  <nav>
    <a href="#menu">Menu</a>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.php">Home</a></li>
    <li><a href="obra-civil-mallorca.php">Obra civil</a></li>
    <li><a href="edificacion-mallorca.php">Edificación</a></li>
    <li><a href="campos-golf-mallorca.php">Campos de Golf</a></li>
    <li><a href="catastro-mallorca.php">Catastro</a></li>
  </ul>
  <ul class="actions stacked">
    <li>
      <a href="experiencia-mallorca.php" class="button primary fit"
        >Experiencia</a
      >
    </li>
    <li><a href="contactar-topografo.php" class="button fit">Contacto</a></li>
  </ul>
</nav>
