<section id="one" class="tiles">
  <article>
    <span class="image">
      <img src="./images/obracivil.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="obra-civil-mallorca.php" class="link">Obra civil</a></h3>
      <p>Trabajos relacionados con obra civil</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="./images/edificacion2.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="edificacion-mallorca.php" class="link">Edificación</a></h3>
      <p>Trabajos relacionados con edificaciones y ubanizaciones</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="./images/golf.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="campos-golf-mallorca.php" class="link">Campos de Golf</a></h3>
      <p>trabajos en campos de golf</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="./images/catastro.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="catastro-mallorca.php" class="link">Catastro</a></h3>
      <p>
        Trabajos relacionados con el catastro y registro de la propiedad
      </p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="./images/contacto.jpg" alt="" />
    </span>
    <header class="major">
      <h3><a href="contactar-topografo.php" class="link">Contacto</a></h3>
      <p>Contacta con nosotros</p>
    </header>
  </article>
  <article>
    <span class="image">
      <img src="./images/EXPERIENCIA.png" alt="" />
    </span>
    <header class="major">
      <h3><a href="experiencia-mallorca.php" class="link">Experiencia</a></h3>
      <p>Breve resumen de nuestra experiencia</p>
    </header>
  </article>
</section>