<section id="two">
  <div class="inner">
    <section class="inner-section-one">
      <header class="major">
        <h2>Solis Topografía en Mallorca</h2>
      </header>
      <div class="block">
        
          Solís Topografía es una empresa familiar ubicada en Palma de
          Mallorca, formada por dos Ingenieros Técnicos en Topografía.
          Actualmente la empresa está liderada por Ricardo Solís hijo
          quien cuenta con más de 22 años de experiencia en el campo de
          la Topografía, habiendo realizado todo tipo de trabajos en
          obras civiles con presupuestos de hasta 1.000 millones, así
          como pequeñas (y no tan pequeñas) georreferenciaciones.
        <p></p>
          Ricardo Solís hijo cuenta con la inestimable ayuda de Ricardo
          Solís padre, Ingeniero Geodesta y Geofísico y, a su vez,
          Ingeniero Técnico en Topografía. Siempre dando apoyo desde el
          Gabinete Técnico, cuenta con 45 años de experiencia. Entre sus
          trabajos más significativos se destacan el replanteo de la
          mitad de los campos de golf de la isla de Mallorca o su labor
          como Ingeniero Técnico en Topografía en la Dirección Técnica
          de toda la urbanización Santa Ponça (Mallorca).
          Adicionalmente, a lo largo de su trayectoria profesional, ha
          resuelto con éxito miles de deslindes, peritajes,
          unificaciones o segregaciones de fincas.
        
        <p></p>
          Colegiado en el Ilustre Colegio de Ingenieros Técnicos en
          Topografía, hacen uso de la más avanzada tecnología aplicada a
          la Topografía como lo son la Leica viva GS16 y la Topcon Hiper
          Hr. , y siempre con la mirada puesta en automatizar procesos,
          haciendo modelos y presentando al cliente final el trabajo de
          una manera clara intuitiva, gráfica y representativa.
        
      </div>

    </section>
    <section class="inner-section-two">
      <h2>Trabajos topográficos realizados en Mallorca.</h2>
      <div class="block">
    
          Replanteo de obras, planos topográficos, movimientos de
          tierras, asistencias técnicas o planos de deslindes son
          solamente algunos de los trabajos que realizamos en la Isla de
          Mallorca:

        <ul>
          <li>
            Realización de todo tipo de Planos Topográficos destinados a
            la elaboración Proyectos de obra civil, edificación,
            infraestructuras, etc
          </li>
          <li>
            Replanteo de pilares, cimientos y demás elementos
            estructurales. Coordinación de los planes de trabajo de la
            obra civil con el Departamento de Topografía, trabajando
            sobre las mejores soluciones técnicas. Preparación de todos
            los replanteos de la obra civil para los equipos de
            topografía. Diseño y replanteo de urbanizaciones y red
            viaria, modificaciones de viales, trazados de carreteras o
            autopistas y de sus infraestructuras (redes de pluviales,
            agua potable, alcantarillado, suministro eléctrico y
            telecomunicaciones, etc.).
          </li>
          <li>
            Levantamiento de los Planos Topográficos, antes y después de
            la excavación o el relleno, para el posterior cotejo de
            sendos Modelos Digitales del Terreno, a fin de cubicar con
            la precisión requerida dicha excavación guardando registros
            de la cubicación
          </li>
          <li>
            Asistencia técnica o control y vigilancia de los replanteos
            de las contratas.
          </li>
          <li>
            Análisis y comprobación de planos de obra antes de iniciar
            su ejecución.
          </li>
          <li>
            Determinación de los límites de solares o parcelas con base
            en documentos oficiales (escrituras públicas, planos
            catastrales, etc.) y de los linderos físicos existentes en
            el terreno.
          </li>
        </ul>
        
          Todos estos son algunos de los trabajos topográficos que
          realizamos en Mallorca. Es nuestra pasión, pero también
          nuestra responsabilidad, lograr la plena satisfacción de
          nuestro cliente final, tal y como hemos ido haciendo durante
          todos estos años de profesión y dedicación.
        
      </div>
<ul class="actions">
<li>
  <a href="experiencia-mallorca.php" class="button next">Experiencia</a>
</li>
</ul>
<ul class="actions">
<li>
  <a href="#one" class="button next">servicios</a>
</li>
</ul>
    </section>
  </div>
</section>