<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>
        <img
          src="./images/logo.png"
          alt=""
          style="
            max-width: 100px;
            padding-bottom: 0;
            display: inline;
            vertical-align: bottom;
          "
        />
        Topografía en Mallorca
      </h1>
    </header>
    <div class="content">
      <p>Servicios topográficos en Mallorca y en las Islas Baleares</p>
      <ul class="actions">
        <li>
          <a href="#two" class="button next scrolly">Presentación</a>
        </li>
      </ul>
    </div>
  </div>
</section>