
<a href="#top" id="top-link"><i class="fa fa-arrow-up"></i></a>

    <div class="alert alert-dismissible text-center cookiealert" role="alert">
      <div class="cookiealert-container">
          <b>Usamos cookies &#x1F36A; para mejorar la experiencia de usuario en nuestra web.  <a href="https://cookiesandyou.com/" target="_blank">Saber más</a>
  
          <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
              Acepto
          </button>
      </div>
  </div>